<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@template.errors.count, "error") %>
        prohibited this template from being saved:
      </h2>
      <ul>
        <% @template.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <%= f.label :template %>
    <%= f.text_area :template, { class: 'form-control code-editor', rows: 20 } %>
  </div>
  <div class="mb-3">
    <%= f.label :subject %>
    <%= f.text_field :subject, { class: 'form-control' } %>
  </div>
<% end %>
