<div class="invoice-row invoice-item js-item">
  <div class="invoice-col invoice-col--description mb-3">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 1, "data-role" => "item-description" %>
  </div>
  <div class="invoice-col invoice-col--quantity mb-3">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: "form-control", "data-role" => "quantity" %>
  </div>
  <div class="invoice-col invoice-col--amount mb-3">
    <%= f.label :unitary_cost %>
    <%= f.text_field :unitary_cost, class: "form-control", "data-role" => "unitary-cost" %>
  </div>
  <div class="invoice-col invoice-col--discount mb-3">
    <%= f.label :discount %>
    <%= f.text_field :discount, class: "form-control", "data-role" => "discount" %>
  </div>
  <div class="invoice-col invoice-col--taxes mb-3">
    <label data-role="taxes-selector-label">
      <%= t("taxes") %>
      <span data-role="total"></span>
    </label>
    <%= f.collection_select :tax_ids, Tax.enabled, :id, :to_s, {}, {class: 'form-control c-select', multiple: true, "data-role" => "taxes-selector"} %>
  </div>
  <div class="invoice-col invoice-col--total mb-3">
    <%= f.label :net_amount %>
    <p class="form-control-static js-net-amount">
      <%= f.object.net_amount %>
    </p>
    <%= f.hidden_field :net_amount, {"data-role" => 'net-amount'} %>
  </div>
  <%= link_to_remove_association f, {wrapper_class: 'js-item', class: 'destroy-icon'} do %>
    <%= material_icon.shape(:delete) %>
    <span>Remove Line</span>
  <% end %>
  <%= f.hidden_field :id %>
</div>
