<h1>
  <%= t("api token") %>
</h1>

<p>
  <% if @api_token %>
    <%= t(".authenticate_api_token") %>
    <code class="active">
      <%= @api_token %>
    </code>
  <% else %>
    <%= t(".press_api_token") %>
  <% end %>
</p>

<div class="action-buttons" data-role="action-buttons">
    <%= button_to "#{t("generate")} #{t("token")}",
    settings_api_token_path,
    method: :post,
    form: { data: { turbo_confirm: t((".are_you_sure")) },
            class: 'd-inline' },
    class: 'btn btn-danger float-start no-margin' %>
</div>
