<div class="row">
  <div class="col-xs-12 col-xl-8">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <%= f.label :identification %>
          <%= f.text_field :identification, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <%= f.label :contact_person %>
          <%= f.text_field :contact_person, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <%= f.label :invoicing_address %>
          <%= f.text_area :invoicing_address, class: 'form-control autosize', data: {address: :invoice} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <%= f.label :shipping_address %>
          <%= link_to t("form_fields.copy invoicing address"), "#", "id": "js-copy-address", "class": "label-small-link" %>
          <%= f.text_area :shipping_address, class: 'form-control autosize', data: {address: :shipping} %>
        </div>
      </div>
    </div>
    <% unless f.object_name == 'customer' %>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <%= f.label :terms %>
            <%= f.text_area :terms, class: 'form-control autosize' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <%= f.label :notes %>
            <%= f.text_area :notes, class: 'form-control autosize' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
