<h1>
  <%= @series %>
</h1>
<div class="row">
  <div class="col-xs-12 col-md-6 col-xl-4">
    <%= render 'form' %>
  </div>
</div>
<div class="action-buttons" data-role="action-buttons">
    <%= button_to t("delete"),
      @series,
      method: :delete,
      form: { data: { turbo_confirm: t(:are_you_sure) },
              class: 'd-inline' },
      class: 'btn btn-danger float-start no-margin' %>
  <%= link_to t("back"), :back, class: 'btn btn-secondary' %>
  <button class="btn btn-success" data-role="submit-form" data-target="#<%= dom_id(@series) %>" type="button">
    <%= t("save") %>
  </button>
</div>
